{
  "extends": [
    "plugin:@shopify/node",
    "plugin:@shopify/esnext",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "import/extensions": ["error", "ignorePackages"],
    "node/no-unsupported-features/node-builtins": [
      "error",
      {
        "version": ">=13.0.0",
        "ignores": []
      }
    ]
  }
}
